{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<h1> {{title}} </h1>
<p>Ser una universidad líder en educación tecnológica a nivel nacional e internacional, reconocida por su contribución al desarrollo sostenible, su oferta educativa de alta calidad y su capacidad de adaptarse a las necesidades cambiantes de la industria y la sociedad. Fomentar una cultura de innovación, equidad, y excelencia académica que impacte positivamente en el progreso de las comunidades que sirve.</p> 
{% endblock content %}