{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<h1> {{title}} </h1>
<p>Formar profesionistas altamente competentes, comprometidos con el desarrollo económico, social y cultural de la región y del país. Promover la innovación y la excelencia educativa a través de programas de formación integral, investigación aplicada, y vinculación con el sector productivo, con valores éticos y responsabilidad social.</p>
{% endblock content %}